/* For å lage sidemenyen har vi brukt denne kilden
   https://www.digitalocean.com/community/tutorials/react-react-burger-menu-sidebar */
.sideMenu {
    background-color: rgb(65, 64, 64);
    position: fixed;
    height: 100%;
    width: 10rem;
    z-index: 1;
  }
/* posisjon og størrelse på burger knappen */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
/* Farge av burger icon */
.bm-burger-bars {
  background: #373a47;
}
.bm-burger-bars-hover {
  background: #a90000;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-cross {
  background: #bdc3c7;
}
/*
Sidebar wrapper design
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
/* generelt sidebar design */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* design for overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.menu-item{
  z-index: 1;
  
}  
#liste{
  z-index: 1;
  background-color: #292929;
}
/*Fjerner linjen under lite elementene 
  Andreas*/
a{
  text-decoration: none;
}
/*Fjerner endring av farge etter elemtet har blitt trykket på
  Andreas*/
a:link, a:visited{
  color: #fffefe;
}
/*Legger til farge når bruker hovrer over elementene
  Andreas*/
a:hover{
  color: #c2c505;
}